<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Webpage Title -->
	<title>{{ page.title }}</title>
	<!-- Author Metadata -->
	<meta name="author" content="Zhijie (Alan) He" />
	<!-- Keyword Metadata -->
	<meta name="keywords" content="Zhijie-He, Zhijie He, Alan He, Zhijie (Alan) He, Zhijie He EIT" />
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--- favicon-->
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
</head>

<body>
	<nav>
		<ul class="header-icons">
			<li><a href="/">Home</a></li>
			<li><a href="/docs/zhijie_he_cv.pdf">CV</a></li>
			<!-- Linkedin button -->
			<li>
				<a aria-label="My LinkedIn Profile" target="_blank" href="https://www.linkedin.com/in/zhijie-he">
					<!-- <i class="fa fa-linkedin-square" style="font-size:23px;color:#0077b5"></i> -->
					<i class="fa fa-linkedin-square" style="font-size:23px;color:#0077b5" aria-hidden="true"></i>
				</a>
			</li>
			<!-- github button -->
			<li>
				<a aria-label="My Github Profile" target="_blank" href="https://github.com/Zhijie-He">
					<!-- <i class="fa fa-github" style="font-size:23px;color:#333"></i> -->
					<i class="fa fa-github" style="font-size:23px;color:#333" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav>

	<div class="container">
		{{ content }}
	</div><!-- /.container -->
	<!-- Import JS: Particles Theme -->
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<!-- Import JS: Sweet Scroll -->
	<script src="/assets/js/sweet-scroll.min.js"></script>
	<!-- Import JS: Google Analytics -->
	<script src="/assets/js/google-analytics.js"></script>
	<!-- Import JS: Main Script -->
	<script src="/assets/js/main.js"></script>

	<footer class="footer">
		<p>&copy; Zhijie He, 2023-2024</p>
	</footer>
</body>

<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-89363010-1', 'auto');
	ga('send', 'pageview');
</script>



</html>